<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>ETEEAP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href= "{{ url_for('static',filename='styles/index.css') }}">
    </head>
    <body>
        <div class="nav">
            <h3>Enrollment</h3>
        </div>
        <div class="main-content">
            <div class="center">
                <p>Accept enrollment of <strong>{{ data.student_name }}</strong> into <strong>{{ data.course }}</strong>?</p>
            </div> <br><br>
            <form action="/index/instructors/{{ data.instructor_id }}/enrollments/{{ data.enrollment_id }}/accept" method="post">
                {{ form.hidden_tag() }}

                {{ form.submit }} <br>
            </form>
        </div>
    </body>
</html>