<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>ETEEAP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href= "{{ url_for('static',filename='styles/index.css') }}">
    </head>
    <body>
        <div class="nav"><h3>Add Course</h3></div>
        <div class="main-content">
            <form action="/index/courses/add_course" method="post">
                {{ form.hidden_tag() }}

                {{ form.code.label }} <br><br> {{ form.code(class='form-textbox') }} <br><br>
                {{ form.title.label }} <br><br> {{ form.title(class='form-textbox') }} <br><br>
                {{ form.submit() }} <br>
            </form>
        </div>
    </body>
</html>