<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>ETEEAP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href= "{{ url_for('static',filename='styles/index.css') }}">
    </head>
    <body>
        <div class="nav"><h3>Add {{ user_type.title() }} Account</h3></div>
        <div class="main-content">
            <form action="/index/users/add_user/{{user_type}}" method="post">
                {{ form.hidden_tag() }}

                {{ form.username.label }} <br><br> {{ form.username(class='form-textbox') }} <br>
                {{ form.l_name.label }} <br><br> {{ form.l_name(class='form-textbox') }} <br>
                {{ form.f_name.label }} <br><br> {{ form.f_name(class='form-textbox') }} <br>
                {{ form.m_name.label }} <br><br> {{ form.m_name(class='form-textbox') }} <br>
                {{ form.password.label }} <br><br> {{ form.password(class='form-textbox') }} <br><br>
                {{ form.submit }} <br>
            </form>
        </div>
    </body>
</html>