{% extends "index.html" %}


{% block content %}

<div class="main-row">
    <div class="card side color-white">
        <div class="inline">
            <h3>Courses</h3>
            <button class="btn-add" onclick="addCourse()">Add course</button><br>
        </div>
        {% if courses is defined and courses|length > 0 %}
        <ul class="stylized-table">
            <li class="table-header">
                <div class="col col-3">COURSE CODE</div>
                <div class="col col-6">TITLE</div>
            </li>
            {% for course in courses %}
            <li class="table-row">
                <div class="col col-3" data-label="CODE">{{ course.code }}</div>
                <div class="col col-6" data-label="TITLE">{{ course.title }}</div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No courses have been created.</p>
        {% endif %}
    </div>
</div class="main-row">

<script>
    function addCourse() {
        var url = '/index/courses/add_course';
        left = (screen.width - 600) / 2;
        top = (screen.height - 600) / 4;
        var features = 'width=600,height=600,left='+left+',top='+top;;
        window.open(url, name, features);
    }
</script>

{% endblock %}