{% extends "index.html" %}


{% block content %}
<div class="main-row">
    <!-- <div class="card col-1 color-1">
        <div class="card-label"></div>
        <div class="card-main-text"></div>
    </div>
    <div class="card col-1 color-2">
        <div class="card-label"></div>
        <div class="card-main-text"></div>
    </div>
    <div class="card col-1 color-3">
        <div class="card-label"></div>
        <div class="card-main-text"></div>
    </div>
    <div class="card col-1 color-4">
        <div class="card-label"></div>
        <div class="card-main-text"></div>
    </div> -->
</div>
{% endblock %}
