<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>ETEEAP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href= "{{ url_for('static',filename='styles/index.css') }}">
    </head>
    <body>
        <div class="view">
            <div class="sidebar">
                <div class="logo">
                    <img src=""><br>
                    <h4>ETEEAP</h4><br>
                </div>
                <ul>
                    {% for view in views %}
                    <li><div class=icon></div><a class="side-links" href="{{ url_for(view.link) }}">{{ view.name }}</a></li>
                    {% endfor %}
                    <li id="logout"><div class=icon></div><a href="/logout">Logout</a></li>
                </ul><br>
            </div>
            <div class="page-content">
                <div class="nav"><h4>{{ page }}</h4></div>
                <div class="main-content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>