{% extends "index.html" %}


{% block content %}
<div class="main-content">
    {% if data %}
        {% for e in data %}
        <div class="main-row">
            <div class="card bar color-white">
                <div class="left">
                    <div class="card-strongtext">{{ e.course.title }}</div>
                    <div class="card-subtext">{{ e.course.code }}</div>
                    <div class="card-subtext">{{ e.instructor.name }}</div>
                </div>
                <div class="middle">
                    <div class="cell {{ e.status }}"> {{ e.status|title }} </div>
                </div>
                <div class="right">
                    {% if e.status == 'ongoing' %}
                    <button class="btn-purple" onclick="viewRequirements('{{student_id}}', '{{e.id}}')">Requirements</button>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}

    <div class="main-row">
        <div class="card thin-bar color-1 opacity-80">
            <p id="status"> Not yet enrolled </p>
        </div> 
    </div>
    {% endif %}
</div>

<script>
    function viewRequirements(student_id, enrollment_id) {
        var url = '/index/students/' + student_id + '/enrollments/' + enrollment_id + '/requirements';
        width = 1000;
        height = 800;
        left = (screen.width - width) / 2;
        top = (screen.height - height) / 4;
        var features = 'width='+width+',height='+height+',left='+left+',top='+top;
        window.open(url, name, features);
    }
</script>

{% endblock %}
